html {
    background-color: gray;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 10px 20px; */
}

.home-button {
    flex-shrink: 0;
    padding-right: 10px;
}

.menuContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(33, 28, 73, 0.555);
    width: 100%;
    min-width: 100%;
    height: 25%;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

.barContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
    width: 100%;
}

.speedText {
    color: lightcoral;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    float: left;
    padding-right: 5px;
    /* margin: none;
    border: none;
    background: none; */
}
.speedBar {
    /* margin-top: 20px;
    margin-left: 425px; */
    float: left;
    margin-top: 5px;
    margin-right: 10vw;    
    
}
.sizeText {
    color: lightcoral;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    float: left;
    padding-right: 5px;
}
.sizeBar {
    /* margin-top: 20px;
    margin-left: 895px; */
    float: left;
    margin-top: 5px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2vh;
}

.button {
    text-align: center;
    /* width: 13vw; */
    border: none;
    background: none;
    color: lightgreen;
    margin-top: 4vh;
    font-weight: bold;
    font-size: 1em;
}
.button:hover {
    color:turquoise;
}


.arrayContainer {
    position: absolute;
    bottom: 0vh;
    text-align: center;
    width: 100%;
}

.arrayBar {
    display: inline-block;
    margin: 0 1px;
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 2em;
    }

    .button {
        font-size: 0.7em;
    }
}