.node {
    width: calc(118vw / 59);
    height: calc(120vh / 29);
    background-color: lightgray;
    border: 1px solid black;
    display: inline-block;
    transition-duration: 0.8s;
  }

.node:hover {
    /* background-color: rgba(158, 158, 158, 0.849); */
    opacity: 60%;
    width: calc(118vw / 59);
    height: calc(120vh / 29);
}

.start {
  background-color: lightgreen;
  border-radius: 10px;
}

.finish {
  background-color: lightcoral;
  border-radius: 10px;
}

.visited {
  background-color: aqua;
}

.shortestPath {
  background-color: yellow;
}

.node-visited {
  background-color: aqua;
}

.node-shortest-path {
  background-color: rgb(255, 255, 87);
}