@keyframes nodeAnimation {
  0% {background-color: lightgray;}
  /* 0% {background-color: lightgray; transform:rotate(0deg);} */
  25% {background-color: blue;}
  100% {background-color: aqua;}
  /* 100% {background-color: aqua; transform:rotate(360deg);} */
}

/* @keyframes shortestPathAnimation {
  0% {}
  50% {background-color: rgb(255, 255, 121)}
  75% {background-color: rgb(255, 255, 255)}
  100% {background-color: yellow;}
} */


.node {
    width: calc(100% / 34);
    min-width: 30px;
    height: calc(120vh / 29);
    min-height: 30px;
    background-color: lightgray;
    border: 1px solid black;
    display: inline-block;
    transition-duration: 0.8s;
    user-select: none;
  }

.node:hover {
    /* background-color: rgba(158, 158, 158, 0.849); */
    opacity: 60%;
    /* width: calc(150vw / 59);
    height: calc(152.5424vh / 29);
    margin-left: calc((120vw / 59 - 150vw / 59)/2);
    margin-right: calc((119vw / 59 - 150vw / 59)/2);
    margin-top: calc((120vh / 29 - 152.5424vh / 29)/2);
    margin-bottom: calc((120vh / 29 - 152.5424vh / 29)/2); */
    box-shadow: 100, 100, 100, 100;
}

.start {
  background-color: lightgreen;
  border-radius: 10px;
}

.start:hover {
  opacity: 100%;
}

.finish {
  background-color: lightcoral;
  border-radius: 10px;
}
.finish:hover {
  opacity: 100%;
}

.wall {
  background-color: rgb(39, 39, 39);
}

.weight {
  background-color: rgb(128, 128, 128);
}

.shortestPath {
  background-color: yellow;
}

.node-visited {
  background-color: aqua;
  animation: nodeAnimation;
  animation-duration: 2s;
}

.node-shortest-path {
  background-color: rgb(255, 255, 87);
  transition-duration: 0s;
  /* animation: shortestPathAnimation; */
  /* animation-duration: 4s; */
  /* animation-timing-function: ease-in-out; */
  /* animation-iteration-count: infinite; */
}

