body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #36393e;
  /* background: linear-gradient(to bottom, #1a237e, #4e7c97); Dark blue to dark green gradient */
  height: 100vh; /* Ensures the gradient covers the entire viewport height */
  color: #fff;/* Text color set to white for contrast */
}